// Variables
$font-stack: Helvetica,
sans-serif;
$primary-color: #2ba6cb;


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $primary-color;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
